/*BODY*/

/*BODY*/

/*WELCOME TO MY PORTAFOLIO*/
 #welcome{
    margin-top: 100px;
    color: rgb(73, 73, 73);
 }
/*WELCOME TO MY PORTAFOLIO*/

/*NAV BAR*/
#navjose ul{
    background-color: rgb(0, 0, 0);
    justify-content: space-between;

}


#aboutme2{
    margin-bottom: 200px;
}

.nav-link{
    color: rgb(255, 255, 255) !important;
    font-size: 25px !important;
    font-family: Verdana;    
}
/*NAVBAR*/




/*IMAGEN PRINCIPAL*/
#imagen1{
    height: 800px; 
    margin-top: -150px;
    margin-bottom: 150px;  
}
/*IMAGEN PRINCIPAL*/

#imagen2{
    height: 30px;
    width: 30px;
}

#imagen3{
    border-radius: 50%;
    width: 150px;
}

#text1{
    font-size: 30px;
}



/*FOOTER*/
#footermade{
    justify-content: flex-end;
}

#footericons{
   font-size: 50px;
}

/*FOOTER*/

#imagenprincipal{
    
}
